.toolBar {
    height: 100px;
    width: 100%;
    background-color: rgb(72, 8, 84);
}

button {
    position: relative;
    height: 40px;
    width: auto;
    display: block;
    font-size: 18px;
    border: 2px solid rgb(144, 143, 158);
    border-radius: 20px;
    color: rgb(0, 0, 0);
    padding: 10px;
    margin-left: 3%;
    cursor: pointer;
    float: left;
    top: 30px;
}

button:hover {
    background-color: rgb(225, 191, 231);
    font-weight: 500;
}

.container {
    width: 100%;
    height: 100%;
}
input{
    position: relative;
    height: 35px;
    width: 7%;
    display: block;
    font-size: 18px;
    border: 2px solid rgb(144, 143, 158);
    border-radius: 10px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    float: left;
    top: 30px;
}