<div class="toolBar">
    <button class="toolBotton" (click)="addItem('producer')"> ADD Q</button>
    <button class="toolBotton" (click)="addItem('machine')"> ADD M</button>
    <input class="textBox" type="text" placeholder="from" id="from">
    <input class="textBox" type="text" placeholder="to" id="to">
    <button class="toolBotton" (click)="addLine()"> Add Line </button>
    <input class="textBox" type="text" placeholder="number" #number_of_products id="number_of_products">
    <button class="toolBotton" (click)="getUnit()"> submit </button>
    <button class="toolBotton" (click)="replay()"> Run </button>
    <button class="toolBotton" (click)="reset()"> Reset </button>
    <button class="toolBotton" (click)="replay()"> Replay </button>
</div>
<div id="container"></div>
<div class="listinput" id="listinput">
    <label class="output">products list</label>
    <div class="b" *ngFor="let item of arr_of_Products; let i = index;">
        <button> {{item['num']}} </button>
        <!-- item.getitem() -->
    </div>
</div>