.toolBar {
    height: 100px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    border: 5px solid rgb(144, 121, 181);
}

.listinput {
    height: 400px;
    width: 300px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 2px solid rgb(144, 121, 181);
    bottom: 0px;
    right: 0px;
    overflow: scroll;
}

.listinput .b button {
    color: #0a406b;
    position: relative;
    width: 190px;
}

button {
    position: relative;
    height: 40px;
    width: auto;
    display: block;
    font-size: 18px;
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(144, 121, 181);
    border-radius: 20px;
    color: rgb(0, 0, 0);
    padding: 10px;
    margin-left: 3%;
    cursor: pointer;
    float: left;
    top: 30px;
}

.listinput {
    height: 400px;
    width: 200px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 2px solid rgb(144, 121, 181);
    bottom: 0px;
    right: 0px;
}

.listinput .b button {
    color: #0a406b;
    position: relative;
    width: 190px;
}

.textBox {
    margin-left: 2%;
    cursor: text;
}

button:hover {
    background-color: whitesmoke;
    font-weight: 500;
}

.container {
    width: 100%;
    height: 100%;
}

input {
    position: relative;
    height: 35px;
    width: 7%;
    display: block;
    font-size: 15px;
    border: 2px solid rgb(144, 121, 181);
    border-radius: 10px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    float: left;
    left: 15px;
    top: 30px;
}

.output {
    position: relative;
    font-size: 50px;
    font-family: sans-serif;
}